@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');

:root{
    --cor-verde: #D2FE08;
    --cor-de-fundo: #061736;
    --espacamento: 50px 0px 50px 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body{
    font-family: "inter";
    background-color: var(--cor-de-fundo);
    color: white;
}
  
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }
  
.navbar{
    width: calc(100vw - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 20px;
  }
  
.navbar-logo{
    max-height: 50px;
}
  
.navbar-items{
    list-style: none;
    display: flex;
    gap: 20px;
}
  
.navbar-link{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
    transition: 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    
}
.navbar-link:hover{
    filter: brightness(0.7);
}
  
.navbar-link-treinos{
    background-color: var(--cor-verde);
    color: black;
}
  
.menu-toggle{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle span{
    font-size: 3rem;
    color: var(--cor-verde);
}
  
.menu-mobile{
    position: fixed;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    top: -500px;
    transition: opacity 0.5s ease;
    z-index: 1000;
}
  
.menu-mobile.active{
    top: 90px;
    opacity: 1;
}
  
.menu-mobile-items{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.menu-mobile-item{
    width: 100%;
}
  
.menu-mobile-link{
    display: flex;
    background-color: var(--cor-de-fundo);
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #d4d4d4;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}
.menu-mobile-treinos{
    background-color: var(--cor-verde);
    color: black;
}
.menu-mobile-link:hover{
    filter: brightness(0.7);
}
  
.navbar-scroll{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #051129;
    width: 90%;
    border-radius: 100px;
    padding: 5px 25px;
    top: -200px;
    z-index: 1000;
    transition: top 0.4s ease;
}
.navbar-scroll.active{
    top: 10px;
}
.navbar-scroll-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar-scroll-list-link{
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s ease;
}
.navbar-scroll-list-link:hover{
    opacity: 0.5;
  }
.navbar-scroll-list-treinos{
    background-color: #D2FE08;
    color: black;
    border-radius: 40px;
    padding: 10px 15px;
  
}
.navbar-scroll-list-link i{
    font-size: 1.5rem;
}
  
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
  
main{
    display: flex;
    flex-direction: column;
}
  
.initial-content{
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: -80px;
    padding: 0 8%;
    gap: 30px;
}
  
.initial-content-title{
    margin-top: -50px;
    font-size: 2.2rem;
}
  
.initial-content-link{
    text-decoration: none;
    background-color: var(--cor-verde);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 40px;
    color: black;
    transition: 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}
.initial-content-link:hover{
    filter: brightness(0.7);
}
  
.initial-content::before {
      content: "";
      position: absolute;
      height: 100dvh;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
}
.initial-content > * {
      z-index: 2; 
}
  
.initial-content-btn{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    left: 50%;
    font-size: 1.3rem;
    opacity: 0.5;
    top: 80%;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    transform: translate(-50%, -50%);
}
  
.initial-content-btn i{
    transform: rotate(90deg);
}
.initial-content-btn:hover{
    opacity: 1;
}
.main-content h1{
    font-size: 4.5rem;
    font-weight: 800;
}
.main-content h2{
    font-size: 2.5rem;
    padding: 60px 0 60px 0;
}
.main-content p{
    font-size: 1.3rem;
    padding: 0px 0 30px 0;
    width: 500px;
    font-weight: 400;
}
.main-content-2 h2{
    font-size: 3.5rem;
}
.main-content-2 div p{
    font-size: 1.3rem;
    padding: 30px;
}
.main-content-2 p{
    margin: var(--espacamento);
    font-size: 1.3rem;
}
.main-content-2 div{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    font-family: "Poppins";
    font-weight: 300;
    border-radius: 30px;
    background-color: #f4f4f4;
    border: 2px solid #dfe1e5;
    color: black;
}
.main-content-2 div img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}
#verMais{
    position: relative;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    width: 150px;
    opacity: 0.5;
    margin-bottom: -50px;
    transition: 0.3s all ease;
    cursor: pointer;
}
#verMais:hover{
    opacity: 1;
}
#verMais span{
    transform: rotate(90deg);
    color: white;
}
#verMais p{
    font-size: 1.5rem;
    font-weight: 400;
}

.main-content-3{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-content-3-images{
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-content-3-images img{
    max-width: 250px;
}

.main-content-3-text h4{
    color: var(--cor-verde);
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.main-content-3-text p{
    font-size: 1.3rem;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 8%;
    color: white;
    gap: 50px;
    font-size: 30px;
    font-weight: 600;
    align-items: center;

}
footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #051129;
    border: 1px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 40px;
    color: white;
    border-radius: 20px;
}

footer ul{
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

footer{
    text-decoration: none;
    color: white;
    border-top: 2px solid var(--cor-verde);
}

footer img{
    max-width: 500px;
}
.redes-sociais{
    display: flex;
    align-self: start;
    flex-direction: column;
    width: 100%;
    
}
.redes-sociais ul{
    display: flex;
    flex-direction: row;
}
.redes-sociais ul li a{
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #051129;
    padding: 15px;
    border-radius: 10px;
}
.redes-sociais i{
    font-size: 50px;
}
.instagrams{
    align-self: start;
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    transition: 5.3s ease;
}
.instagrams ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: 5.3s ease;
}
.instagrams ul li a{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.018);
    border-radius: 10px;
}
.instagrams img{
    width: 35px;
    border-radius: 50px;
    margin-right: 10px;
}
.instagrams.active{
    display: flex;
}

.linkedins{
    align-self: start;
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    transition: 5.3s ease;
}
.linkedins ul{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    transition: 5.3s ease;
}
.linkedins ul li a{
    font-size: 20px;
    border-radius: 10px;
    background: none;
    margin-right: 10px;
}
.linkedins img{
    width: 35px;
    border-radius: 50px;
}
.linkedins.active{
    display: flex;
}
@media (max-width: 768px) {
    
    .navbar-logo{
        content: url("../img/logo2.png");
      }
      .navbar-items{
        display: none;
      }
      .navbar-scroll-list{
        display: none;
      }
      .menu-toggle{
        display: flex;
      }
      .initial-content-title{
        font-size: 1.5rem;
      }
    .div1{
        flex-direction: column;
    }
    .rightT{
        margin-top: 30px;
    }
    .rightT2{
        margin-top: 30px;
    }
    .div2{
        margin-top: -100px;
    }
    .div2{
        flex-direction: column;
        
    }
    .floorMusc1{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .musculo1{
        margin-top: 30px;
    }
    .Biblioteca-content h1{
        font-size: 32px !important;
        font-family: poppins;
        margin-top: 20px !important;
    }
    .Biblioteca-content{
        margin-top: 20px !important;
    }
    .Biblioteca-content p{
        font-size: 20px !important;
        margin-top: 20px !important;
        margin-left: 10px !important;
    }
    .leftT{
        width: 410px!important;   /* defina uma largura */
        height: 300px!important;
        background-color: #D2FE08;
    }
    .leftT a{
        
        width: 400px!important;   /* defina uma largura */
        height: 300px!important;  /* defina uma altura */
        
    }
    .leftT a h1{
        
        margin-top: auto !important;
        
        margin-right: 200px !important;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
    }
    .leftT a span h1{
        margin-left: auto !important;
        margin-top: auto !important;

    }
    
    .rightT{
        width: 410px!important;   /* defina uma largura */
        height: 300px!important;
        background-color: #D2FE08;
        margin-left: 0px!important;
    }
    .rightT a{
        
        width: 400px!important;   /* defina uma largura */
        height: 300px!important;  /* defina uma altura */
        
    }
    .rightT a h1{
        
        margin-top: auto !important;
        
        margin-right: 200px !important;
        margin-left: 10px !important;
        margin-bottom: 10px !important;
    }
    .rightT a span h1{
        margin-left: auto !important;
        margin-top: auto !important;

    }
    .leftT2{
        width: 410px!important;   /* defina uma largura */
        height: 300px!important;
        background-color: #D2FE08;
    }
    .leftT2 a{
        
        width: 400px!important;   /* defina uma largura */
        height: 300px!important;  /* defina uma altura */
        
    }
    .leftT2 a h1{
        
        margin-top: auto !important;
        margin-bottom: 10px !important;
        margin-right: 200px !important;
        margin-left: 10px !important;

        
    }
    .leftT2 a span h1{
        margin-left: auto !important;
        margin-top: auto !important;

    }
    
    .rightT2{
        width: 410px!important;   /* defina uma largura */
        height: 300px!important;
        background-color: #D2FE08;
        margin-left: 0px!important;
    }
    .rightT2 a{
        
        width: 400px!important;   /* defina uma largura */
        height: 300px!important;  /* defina uma altura */
        
    }
    .rightT2 a h1{
        margin-bottom: 10px !important;
        margin-top: auto !important;
        
        margin-right: 200px !important;
        margin-left: 10px !important;
        
    }
    .rightT2 a span h1{
        margin-left: auto !important;
        margin-top: auto !important;
    }
    .abar{
        margin-left: 0px !important;
    }
    .floorMusc1{
        margin-top: 0px !important;
    }
    .floorMusc1 a{
        margin-top: 10px !important;
    }
    
}
.Biblioteca-content{
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Biblioteca-content h1{
    font-size: 60px;
    font-family: poppins;
    
    
}
.Biblioteca-content p{
    font-size: 25px;
    font-family: poppins;
}
.colorido{
    color: #D2FE08;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cards h1{
    font-size: 50px ;
    
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftT{
    
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}
.rightT{
    margin-left:50px ;
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}

.leftT a{
    display: flex;
    background-image: url("../img/HomemNaEsteira.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    
    

}

.leftT a h1{
    margin-top: 300px;
    margin-right: 250px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.rightT a{
    
    display: flex;
    background-image: url("../img/HomemFazendoBarra.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    
    
    border-radius: 20px;
}
.rightT a h1{
    margin-top: 300px;
    margin-right: 190px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.leftT2{
    
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}
.rightT2{
    margin-left:50px ;
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}

.leftT2 a{
    display: flex;
    background-image: url("../img/FotoHalteres.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    
    

}

.leftT2 a h1{
    margin-top: 300px;
    margin-right: 250px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.rightT2 a{
    
    display: flex;
    background-image: url("../img/ImagemSupino.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    
    
    border-radius: 20px;
}
.rightT2 a h1{
    margin-top: 300px;
    margin-right: 190px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.div2{
    display: flex;
}
.cardsimg{
    width: 500px;
}
.musculos{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.musculosimg{
    width: 140px;
    height: 100px;
   
    margin-left: 20px;
}
.musculo1{
    display: flex;
    background-color: #354966;
    color: white;
    text-decoration: none;
    
    width: 450px;
    height: 130px;
    align-items: center;
    
    border-radius: 10px;
    
}
.musculo1 h1{
    font-size: 30px;
    
    margin-left: 60px;

}
.floorMusc1{
    display: flex;
    margin-top: 40px;
    margin-right: 30px;
}
.abar{
    display: flex;
    background-color: #354966;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    width: 450px;
    height: 130px;
    align-items: center;
    
    border-radius: 10px;
}
.abar h1{
    font-size: 30px;
    
    margin-left: 60px;

}
.cards h1{
    margin-top: 20px;
    
}
/* CSS página sobre nós*/

section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
}
 
h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
 
h2 span {
    color: #dfff00;
}
 
.sobre-nos img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
}
 
.sobre-nos p {
    background: #000;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto 0;
    max-width: 800px;
    text-align: center;
}
 
.historia {
    text-align: center;
}
 
.historia p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}
 
.equipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 30px;
}
 
.membro {
    background-color: #13254d;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}
 
.membro img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}
 
.membro h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #fff;
}
 
.membro p {
    font-size: 0.9rem;
      
    color: #ccc;
}    
 
@media (max-width: 768px) {
    .imagemdetalhe img {
        position: static !important;
        left: auto !important;
        top: auto !important;
        border-radius: 20px !important; /* se quiser manter o arredondamento */
    }
}
@media (max-width: 1000px) {
    .imagemdetalhe img {
        position: static !important;
        left: auto !important;
        top: auto !important;
        border-radius: 20px !important; /* se quiser manter o arredondamento */
    }
}
.peito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.treinoTitulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}
.treinoTitulo h1{
    font-family: poppins;
}
.imagemdetalhe{
    width: 360px;
    height:365px ;
    background-color: #D2FE08;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20px;
}
.imagemdetalhe img{
    position: absolute;
    left:35%;
    border-radius: 20px;
}
.repeticoes-container{
    display: flex;

}
.repeticoes-container h1{

}
.serie{
    
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 768px) {
    
    .serie h1{
        font-size: 10px !important;
    }
    .repeticoes h1{
        font-size: 10px !important;
    }
        
    .repeticoes input{
        width: 75px !important;
        height: 20px;
    }
    .carga h1{
        font-size: 10px !important;
        font-family: poppins;
    }
    .carga input{
        background-color: #354966;
        border: none;
        width: 100px !important;
        height: 40px;
        border-radius: 5px;
        margin-top: 10px;
        font-size: 25px;
    }

}


.serie h1{
    font-size: 20px;
    font-family: poppins!important;
}
.serienumero input{
    background-color: #354966;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
    border-radius: 5px;
    font-size: 25px;
}
.repeticoes h1{
    font-size: 20px;
    font-family: poppins;
}
.repeticoes input{
    background-color: #354966;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
}
.carga h1{
    font-size: 20px;
    font-family: poppins;
}
.carga input{
    background-color: #354966;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 25px;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: poppins;
}
.repeticoes h1{
    
    font-family: poppins;
}
.carga h1{
    
    font-family: poppins;
}
.repeticoes{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carga{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
}

/* Chrome, Safari, Edge e Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.Criar{
    text-decoration: none;
    color: #D2FE08;
    background-color: transparent;
    border: none;
    font-family: poppins;
    font-size: 25px;
    
}
.adicionar img{
    width: 40px;
    margin-right: 10px;
}
.botoes{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}