@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --cor-verde: #D2FE08;
  --cor-de-fundo: #061736;
  --cor-azul-escuro: #051129;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.navbar{
  width: calc(100vw - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 20px;
}

.navbar-logo{
  max-height: 50px;
}

.navbar-items{
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-link{
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 40px;
  color: white;
  transition: 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  
}
.navbar-link i{
  transform: rotate(90deg);
}
.navbar-link:hover{
  filter: brightness(0.7);
}

.navbar-link-treinos{
  background-color: var(--cor-verde);
  color: black;
}

.imc-extension{
  position: absolute;
  display: none;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  width: 200px;
  top: 155%;
  right: 0;
  border-radius: 20px;
  padding-top: 10px;
  z-index: 1000;
}
.imc-extension ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.imc-extension li{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
}
.imc-extension a{
  width: 100%;
  text-decoration: none;
  color: white;
}
.imc-extension li:hover{
  background: rgba(0, 0, 0, 0.9);
}
.imc-wrapper{
  position: relative;
}
.imc-wrapper:hover .imc-extension{
  display: flex;
}
.menu-toggle{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle span{
  font-size: 3rem;
  color: var(--cor-verde);
}

.menu-mobile{
  position: fixed;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-azul-escuro);
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  top: -500px;
  transition: opacity 0.5s ease;
  box-shadow: 0 0px 20px black;
  z-index: 1000;
}

.menu-mobile.active{
  top: 90px;
  opacity: 1;
}

.menu-mobile-items{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.menu-mobile-item{
  width: 100%;
}

.menu-mobile-link{
  display: flex;
  background-color: var(--cor-de-fundo);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #d4d4d4;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
.menu-mobile-treinos{
  background-color: var(--cor-verde);
  color: black;
}
.menu-mobile-link:hover{
  filter: brightness(0.7);
}

.navbar-scroll{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #051129;
  width: 90%;
  border-radius: 100px;
  padding: 5px 25px;
  top: -200px;
  z-index: 1000;
  box-shadow: 0 0px 20px black;
  transition: top 0.4s ease;
}
.navbar-scroll.active{
  top: 10px;
}
.navbar-scroll-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar-scroll-list-link{
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease;
  padding: 25px 10px;
}
.navbar-scroll-list-link:hover{
  opacity: 0.5;
}
.navbar-scroll-list-treinos{
  background-color: #D2FE08;
  color: black;
  border-radius: 40px;
  padding: 10px 15px;

}
.navbar-scroll-list-link i{
  transform: rotate(90deg);
}

#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
}

#overlay_movimentos{
  position: fixed;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background: linear-gradient(-45deg, #000 20%, rgba(0, 0, 0, 0.4));
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 996;
}
#overlay_movimentos.active{
  opacity: 1;
  pointer-events: all;
}

main{
  background-color: var(--cor-de-fundo);
  display: flex;
  flex-direction: column;
}

.initial-content{
  background: url(../img/background.png) no-repeat center;
  background-size: cover;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: -80px;
  padding: 0 8%;
  gap: 30px;
}

.initial-content-title{
  margin-top: -50px;
  font-size: 2.2rem;
}

.initial-content-link{
  text-decoration: none;
  background-color: var(--cor-verde);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 40px;
  color: black;
  transition: 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}
.initial-content-link:hover{
  filter: brightness(0.7);
}

.initial-content::before {
    content: "";
    position: absolute;
    height: 100dvh;
    inset: 0;
    background: linear-gradient(to right, #000, transparent);
    z-index: 1;
}
.initial-content > * {
    z-index: 2; 
}

.initial-content-btn{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  left: 50%;
  font-size: 1.3rem;
  opacity: 0.5;
  top: 80%;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  transform: translate(-50%, -50%);
}

.initial-content-btn i{
  transform: rotate(90deg);
}
.initial-content-btn:hover{
  opacity: 1;
}

@keyframes appear{
  from {
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #000 , #061736, #061736);
  padding: 50px 8%;
}

.main-content-title{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
}
.main-content-subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 100px;
  height: 200px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}
.main-content-title span{
  color: var(--cor-verde);
}

.main-content-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 300px);
  gap: 30px;
}
.grid-container-1{
  background: url(https://i.postimg.cc/3ry4jw2q/grid-container-image-1.jpg) no-repeat center;
  background-size: cover;
  grid-row: 1 / 3;
}
.grid-container-2{
  background: url(https://i.postimg.cc/KzWbvxzk/grid-container-image-2.jpg) no-repeat center;
  background-size: cover;
  grid-row: 1/2;
}
.grid-container-3{
  background: url(https://i.postimg.cc/sxZrMqQn/grid-container-image-3.png) no-repeat center;
  background-size: cover;
  grid-row: 3/4;
}
.grid-container-4{
  background: url(https://i.postimg.cc/hhWqTsVK/grid-container-image-4.png) no-repeat center;
  background-size: cover;
  grid-row: 2/4;
}
.main-content-grid-container{
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 30px;
}



.main-content-grid-container::before {
  content: "";
  position: absolute;
  inset: 0; 
  background: linear-gradient(to top, #000 20%, transparent); 
  z-index: 1;
}

.main-content-grid-container h3,
.main-content-grid-container p {
  position: relative;
  z-index: 2; 
}

.main-content-grid-container span{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 15px;
  border-radius: 20px;
  color: black;
  background: var(--cor-verde);
  font-size: 14px;
  z-index: 2;
}

.main-content-grid-container-title{
  font-size: 1.5rem;
  margin-top: auto;
}

.main-content-grid-container-text{
  font-size: 1.2rem;
}

.main-content-grid-container {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.main-content-grid-container:hover {
  transform: scale(1.03);
}

.funcionalidades-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;

}
.funcionalidades-link *{
  transition: all 0.3s ease;
}
.funcionalidades-link{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(45deg, #000, #061736);
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 20px;
  padding: 30px;
  transition: all 0.3s ease;
  
}

.funcionalidades-link:hover{
  border: 1px solid var(--cor-verde);
}

.funcionalidades-link:hover .funcionalidades-btn{
  background: var(--cor-verde);
  color: black;
}
.funcionalidades-link:hover .funcionalidades-icon{
  color: var(--cor-verde);
}

.funcionalidades-icon{
  margin-top: auto;
  font-size: clamp(1rem, calc(2vw + 1rem), 3rem);
}
.funcionalidades-link button{
  font-family: inter, sans-serif;
  margin-top: auto;
  background: #061736;
  color: white;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px){
  .funcionalidades-container{
    gap: 20px;
  }
  .funcionalidades-link{
    max-width: 140px;
    padding: 10px;
  }
}

.main-content-objetivos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 8% 50px 8%;
  background: linear-gradient(to bottom, #000 , #061736, #061736);
}
.main-content-objetivos-initial{
  background: rgba(0, 0, 0, 0.18);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.main-content-objetivos-initial h2{
  font-size: 2rem;
  color: var(--cor-verde);
  font-weight: 900;
  letter-spacing: 2px;
}
.main-content-objetivos-embreve{
  display: inline-block;
  align-items: center;
  justify-content: center;

}
.main-content-objetivos-breve{
  text-align: center;
  overflow: hidden;
  font-size: clamp(1.8rem, calc(5vw + 1rem), 2.5rem);
  margin: 80px 0;
}

.main-content-objetivos p{
  font-size: 1.1rem;
}
.main-content-objetivos-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.main-content-objetivos-item{
  display: flex;
  align-items: center;
  gap: 50px;
}
.main-content-objetivos-item:nth-child(2){
  margin-top: -150px;
}
.main-content-objetivos-item:nth-child(3){
  margin-top: -150px;
}
.main-content-objetivos-item:nth-child(4){
  margin-top: -150px;
}
.main-content-objetivos-item img{
  max-width: 300px;
}
.main-content-objetivos-item-text{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.main-content-objetivos-item-text h3{
  color: var(--cor-verde);
  font-size: 1.6rem;
}
.formulario-btn{
  position: fixed;
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #D2FE08;
  border-radius: 50px;
  height: 30px;
  padding: 5px;
  top: 100px;
  right: 30px;
  z-index: 999;
  color: black;
  animation: shake 1s infinite;
  cursor: pointer;
  overflow: hidden;
  
}
.formulario-btn p{
  display: none;
  font-weight: 600;
  font-size: 0.95rem;
}
@keyframes shake {
  0%   { top: 100px; }
  10%  { top: 95px; }   /* 1º pulo */
  20%  { top: 100px; }
  30%  { top: 95px; }   /* 2º pulo */
  40%  { top: 100px; }
  100% { top: 100px; }  /* pausa até reiniciar */
}
.formulario-btn:hover{
  animation: none;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    height: auto;
    color: white;
    border-top: 2px solid var(--cor-verde);
    background-color: var(--cor-de-fundo);
    gap: 50px;
    padding: 8%;
}

.footer-image{
  max-width: 50%;
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #051129;
    border: 1px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: clamp(1.6rem, calc(5vw + 1rem), 1rem);
    font-weight: 600;
    width: 100%;
    padding: 40px;
    color: white;
    border-radius: 20px;
}
.redes-sociais{
    display: flex;
    align-self: start;
    flex-direction: column;
    width: 100%;
    
}
.redes-sociais ul{
  list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: row;
}
.redes-sociais ul li a{
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #051129;
    padding: 15px;
    border-radius: 10px;
}
.redes-sociais i{
    font-size: 50px;
}
.instagrams{
    align-self: start;
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    transition: 5.3s ease;
}
.instagrams ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: 5.3s ease;
}
.instagrams ul li a{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.018);
    border-radius: 10px;
}
.instagrams img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.instagrams.active{
    display: flex;
}

.linkedins{
    align-self: start;
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    transition: all 0.3s ease;
}
.linkedins ul{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    transition: all 0.3s ease;
}
.linkedins ul li a{
    font-size: 20px;
    border-radius: 10px;
    background: none;
}
.linkedins img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.linkedins.active{
    display: flex;
}

.footer-copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-de-fundo);
  border-top: 1px solid white;
  font-size: 0.6rem;
  font-weight: 400;
  padding: 15px;
  color: white;
}
.main-content-grid-container {
  position: relative;
}

.card-link-index {
  position: absolute;
  inset: 0; /* cobre o card inteiro */
  z-index: 5;
  text-decoration: none;
}

.timer-container{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  width: 250px;
  height: 70px;
  gap: 20px;
  top: 150px;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.timer-container *{
  transition: all 0.3s ease;
}

.timer-container.active{
  display: flex;
}

.close-timer-container{
  position: fixed;
  top: 220px;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  width: 120px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  gap: 20px;
  border-radius: 20px;
  z-index: 1000;
}

.close-timer-container i{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  cursor: pointer;
}
.close-timer-container i:hover{
  filter: brightness(0.7);
}

.close-timer-container.active{
  display: flex;
}

.countdown{
  background: var(--cor-verde);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.countdown:hover{
  filter: brightness(0.7);
}

.movimentos-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 100px;
  right: 90px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease;
}
.movimentos-btn:hover{
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}
.movimentos-btn:focus, .movimentos-btn:active{
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.movimentos-btn.active{
  transform: scale(1);
  background: #000;
}
.movimentos-btn-image{
  margin-right: 3px;
}
.movimentos-button{
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #000, #061736);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  width: 70px;
  height: 70px;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.4);  /* encolhidos */
  visibility: hidden;

  transition:
    transform 0.35s ease,
    opacity 0.25s ease,
    right 0.35s ease,
    bottom 0.35s ease;
  z-index: 998;
}

.movimentos-btn *{
  transition: all 0.3s ease;
}
.movimentos-button a{
  position: absolute;
  inset: 0;
}

.agua-btn.active{
  right: 170px;
  bottom: 20px;
  color: aqua;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.imc-btn.active{
  right: 210px;
  bottom: 110px;
  color: rgb(16, 228, 16);
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.metabolismo-btn.active{
  right: 170px;
  bottom: 200px;
  color: rgb(255, 81, 0);
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.timer-btn.active{
  right: 80px;
  bottom: 210px;
  color: white;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.movimentos-button:hover{
  transform: scale(1.1);
}

.movimentos-button i{
  font-size: 2rem;
}
.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 85vh;
  padding: 0 8%;
  margin-bottom: 50px;
}
.swiper {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .swiper-slide {
      font-size: 18px;
      background: rgba(0, 0, 0, 0.4);
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column;
      padding: 50px;
    }
    .swiper-slide *{
      z-index: 1;
    }
    .swiper-slide h2{
      position: relative;
      bottom: 100px;
      font-size: clamp(1.5rem, calc(2vw + 1rem), 3rem);
      color: var(--cor-verde);
    }

    .swiper-slide p{
      font-size: clamp(1rem, 1vw, 1.5rem);
    }



    .swiper-slide::before{
      content: "";
      position: absolute;
      inset: 0; 
      background: linear-gradient(to bottom, #000 5%, transparent); 
      z-index: 1;
    }

    .swiper-slide img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .swiper-button-next{
      color: rgba(0, 0, 0, 0.4) !important;
      font-size: 1.5rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      right: 2% !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .swiper-button-prev{
      color: rgba(0, 0, 0, 0.4) !important;
      font-size: 1.5rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      left: 2% !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .swiper-pagination{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .swiper-pagination-bullet{
      background-color: white !important;
      width: 10px !important;
      height: 10px !important;
      transition: all 0.3s ease;
      margin-bottom: 30px !important;
    }
    .swiper-pagination-bullet-active{
      background-color: var(--cor-verde) !important;
      transform: scale(1.5);
    }

@media (max-width: 768px){
  .slider{
    height: 70vh;
    padding: 0;
    margin-bottom: 0;
  }
  .swiper{
    border-radius: 0;
  }
  .swiper-button-next{
    display: none !important;
  }
  .swiper-button-prev{
    display: none !important;
  }

}

@media (max-width: 768px){
  .navbar-logo{
    content: url("https://i.postimg.cc/PfYRzBYW/logo2.png");
  }
  .navbar-items{
    display: none;
  }
  .navbar-scroll-list{
    display: none;
  }
  .menu-toggle{
    display: flex;
  }
  .initial-content-title{
    font-size: 1.5rem;
  }
  .main-content-grid{
    gap: 15px;
  }
  .grid-container-2{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .grid-container-1{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container-3{
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid-container-4{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .main-content-title{
    font-size: 0.95rem;
  }
  .main-content-subtitle{
    font-size: 1.6rem;
  }
  .main-content-grid-container{
    padding: 20px;
  }
  .main-content-grid-container-title{
    font-size: 1.6rem;
  }
  .main-content-grid-container-text{
    font-size: 0.95rem;
  }
  .movimentos-btn{
    right: 6vw;
    bottom: 95px;
  }
  .agua-btn.active{
    right: 170px;
    bottom: 30px;
  }
  .imc-btn.active{
    right: 210px;
    bottom: 120px;
  }
  .metabolismo-btn.active{
    right: 170px;
    bottom: 210px;
  }
  .timer-btn.active{
    right: 80px;
    bottom: 220px;
  }
  .main-content-objetivos-item img{
    max-width: 100px;
  }
  .main-content-objetivos-item-text p{
    font-size: 0.95rem;
  }
  .main-content-objetivos-item:nth-child(2){
    margin-top: 0;
  }
  .main-content-objetivos-item:nth-child(3){
    margin-top: 0;
  }
  .main-content-objetivos-item:nth-child(4){
    margin-top: 0;
  }
  .footer-image{
    width: 100%;
  }
}

@media screen and (max-width: 420px){
  .main-content-grid-container-title{
    font-size: 1.1rem;
  }
}