@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');

:root{
    --cor-verde: #D2FE08;
    --cor-de-fundo: #061736;
    --espacamento: 50px 0px 50px 0px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    z-index: 0;
}
body{
    font-family: "Inter";
    background-color: var(--cor-de-fundo);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;
    padding: 10px 30px;
}
.logo{
    max-width: 200px;
    height: 100%;
    z-index: 2;
}
.logo img{
    height: 100%;
    width: 100%;
}
.aria-label{
    z-index: 2;
}
.aria-label ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.aria-label ul a{
    text-decoration: none;
    color: black;
    background-color: var(--cor-verde);
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s all ease;
    
}
.aria-label ul a:hover{
    filter: brightness(0.7);

}

.aria-label ul a.active{
    border: 1px solid white;
}

#sideBar{
    display: none;
}

#menu-toggle{
    height: 100%;
    padding: 20px;
    display: none;
    align-items: center;
    background: transparent;
    border: none;
    z-index: 2;
    cursor: pointer;
}
#menu-toggle span{
    font-size: 50px;
    color: var(--cor-verde);
}

main{
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    color: white;
}

main section{
    padding: 30px 8%;
}

.initial-content{
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 8% 0 8%;
    gap: 30px;
}

.initial-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.initial-content > * {
    position: relative;
    z-index: 2; 
}
.initial-content h1{
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
}
.initial-content a{
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-verde);
    transition: 0.3s;
}
.initial-content a:hover{
    filter: brightness(0.7);
}
.main-content h1{
    font-size: 4.5rem;
    font-weight: 800;
}
.main-content h2{
    font-size: 2.5rem;
    padding: 60px 0 60px 0;
}
.main-content p{
    font-size: 1.3rem;
    padding: 0px 0 30px 0;
    width: 500px;
    font-weight: 400;
}
.main-content-2 h2{
    font-size: 3.5rem;
}
.main-content-2 div p{
    font-size: 1.3rem;
    padding: 30px;
}
.main-content-2 p{
    margin: var(--espacamento);
    font-size: 1.3rem;
}
.main-content-2 div{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    font-family: "Poppins";
    font-weight: 300;
    border-radius: 30px;
    background-color: #f4f4f4;
    border: 2px solid #dfe1e5;
    color: black;
}
.main-content-2 div img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}
#verMais{
    position: relative;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    width: 150px;
    opacity: 0.5;
    margin-bottom: -50px;
    transition: 0.3s all ease;
    cursor: pointer;
}
#verMais:hover{
    opacity: 1;
}
#verMais span{
    transform: rotate(90deg);
    color: white;
}
#verMais p{
    font-size: 1.5rem;
    font-weight: 400;
}

.main-content-3{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-content-3-images{
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-content-3-images img{
    max-width: 250px;
}

.main-content-3-text h4{
    color: var(--cor-verde);
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.main-content-3-text p{
    font-size: 1.3rem;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 8%;
    color: white;
    gap: 50px;
    font-size: 30px;
    font-weight: 600;
    align-items: center;

}
footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #051129;
    border: 1px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 40px;
    color: white;
    border-radius: 20px;
}

footer ul{
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

footer{
    text-decoration: none;
    color: white;
    border-top: 2px solid var(--cor-verde);
}

footer img{
    max-width: 500px;
}
.redes-sociais{
    display: flex;
    align-self: start;
    flex-direction: column;
    width: 100%;
    
}
.redes-sociais ul{
    display: flex;
    flex-direction: row;
}
.redes-sociais ul li a{
    text-decoration: none;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #051129;
    padding: 15px;
    border-radius: 10px;
}
.redes-sociais i{
    font-size: 50px;
}
.instagrams{
    align-self: start;
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    transition: 5.3s ease;
}
.instagrams ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    transition: 5.3s ease;
}
.instagrams ul li a{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.018);
    border-radius: 10px;
}
.instagrams img{
    width: 35px;
    border-radius: 50px;
    margin-right: 10px;
}
.instagrams.active{
    display: flex;
}

.linkedins{
    align-self: start;
    display: none;
    background-color: black;
    border-radius: 10px;
    margin-top: 5px;
    transition: 5.3s ease;
}
.linkedins ul{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    transition: 5.3s ease;
}
.linkedins ul li a{
    font-size: 20px;
    border-radius: 10px;
    background: none;
    margin-right: 10px;
}
.linkedins img{
    width: 35px;
    border-radius: 50px;
}
.linkedins.active{
    display: flex;
}
@media (max-width: 768px) {
    #menu-toggle{
        display: flex;
    }
    .aria-label{
        display: none;
    }
    .div1{
        flex-direction: column;
    }
    .rightT{
        margin-top: 30px;
    }
    .rightT2{
        margin-top: 30px;
    }
    .div2{
        margin-top: -100px;
    }
    .div2{
        flex-direction: column;
        
    }
    .floorMusc1{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .musculo1{
        margin-top: 30px;
    }
    
}
.Biblioteca-content{
    margin-top: 150px;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Biblioteca-content h1{
    font-size: 80px;
    font-family: poppins;
    margin-right: auto;
    margin-left: 250px;
}
.Biblioteca-content p{
    font-size: 30px;
    font-family: poppins;
}
.colorido{
    color: #D2FE08;
}
.cards{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cards h1{
    font-size: 50px ;
    
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftT{
    margin-right:100px ;
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}
.rightT{
    margin-right:100px ;
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}

.leftT a{
    display: flex;
    background-image: url("../img/HomemNaEsteira.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    
    

}

.leftT a h1{
    margin-top: 300px;
    margin-right: 250px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.rightT a{
    
    display: flex;
    background-image: url("../img/HomemFazendoBarra.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    
    
    border-radius: 20px;
}
.rightT a h1{
    margin-top: 300px;
    margin-right: 190px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.leftT2{
    margin-right:100px ;
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}
.rightT2{
    margin-right:100px ;
    width: 510px;   /* defina uma largura */
    height: 400px;
    background-color: #D2FE08;
    display: flex;
    border-radius: 20px;
}

.leftT2 a{
    display: flex;
    background-image: url("../img/FotoHalteres.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    border-radius: 20px;
    
    

}

.leftT2 a h1{
    margin-top: 300px;
    margin-right: 250px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.rightT2 a{
    
    display: flex;
    background-image: url("../img/ImagemSupino.png");
    background-size: cover;     /* ajusta a imagem para cobrir toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    width: 500px;   /* defina uma largura */
    height: 400px;  /* defina uma altura */
    display: flex;
    text-decoration: none;
    
    
    border-radius: 20px;
}
.rightT2 a h1{
    margin-top: 300px;
    margin-right: 190px;
    margin-left: 20px;
    color: white;
    font-size: 50px;
}
.div2{
    display: flex;
}
.cardsimg{
    width: 500px;
    
}
.musculos{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.musculosimg{
    width: 140px;
    height: 100px;
   
    margin-left: 20px;
}
.musculo1{
    display: flex;
    background-color: #354966;
    color: white;
    text-decoration: none;
    margin-right: 80px;
    width: 500px;
    height: 130px;
    align-items: center;
    
    border-radius: 10px;
    
}
.musculo1 h1{
    font-size: 30px;
    
    margin-left: 60px;

}
.floorMusc1{
    display: flex;
    margin-top: 40px;
    margin-right: 30px;
}
.cards h1{
    margin-top: 20px;
    margin-left: 100px;
}
 
/* CSS página sobre nós*/

section {
      padding: 60px 20px;
      max-width: 1200px;
      margin: auto;
    }
 
    h2 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 30px;
    }
 
    h2 span {
      color: #dfff00;
    }
 
    .sobre-nos img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
      border-radius: 12px;
    }
 
    .sobre-nos p {
      background: #000;
      padding: 20px;
      border-radius: 10px;
      margin: 20px auto 0;
      max-width: 800px;
      text-align: center;
    }
 
    .historia {
      text-align: center;
    }
 
    .historia p {
      margin-bottom: 15px;
      font-size: 1.1rem;
    }
 
    .equipe-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
      margin-top: 30px;
    }
 
    .membro {
      background-color: #13254d;
      border-radius: 15px;
      padding: 15px;
      text-align: center;
    }
 
    .membro img {
      width: 100%;
      border-radius: 12px;
      margin-bottom: 10px;
    }
 
    .membro h3 {
      font-size: 1.2rem;
      margin-bottom: 8px;
      color: #fff;
    }
 
    .membro p {
      font-size: 0.9rem;
      color: #ccc;
    }